<div class="container">
    <div class="filters">
        <mat-toolbar class="toolbar-filters">
            <div class="toolbar-left">
                <img src="../assets/img/brand.jpg" alt="TechNews LOGO" class="nav-brand"> 
                <span class="title">Search breweries</span>
            </div>
            <div class="toolbar-right">
                <mat-form-field class="search">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <button mat-button [matMenuTriggerFor]="menu" (click)="fnCategories()">Category
                    <mat-icon>list</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menu2" (click)="fnCities()">Cities
                    <mat-icon>location_city</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let category of categories; index as i" (click)="filterListado('category',category)">{{category}}</button>
                </mat-menu>
                <mat-menu #menu2="matMenu">
                    <button mat-menu-item *ngFor="let city of cities; index as i" (click)="filterListado('city',city)">{{city}}</button>
                </mat-menu>
                <mat-form-field class="range-abv">
                      <mat-label >Min IBU</mat-label>
                      <input matInput type="number" [(ngModel)]="minIbu">
                </mat-form-field>
                  
                <mat-form-field class="range-abv">
                    <mat-label>Max IBU</mat-label>
                    <input matInput type="number" [(ngModel)]="maxIbu">
                </mat-form-field>

                <button mat-icon-button color="accent" (click)="filterIbu()">
                    <mat-icon>search</mat-icon>
                </button>
                
                <button mat-icon-button color="accent" (click)="resetFilter()">
                    <mat-icon>restart_alt</mat-icon>
                </button>
            </div>
          </mat-toolbar>  
    </div>
    <div class="table">
        
    <div class="tabla-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>
            <!-- id Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 70px;"> No. </mat-header-cell>
                <mat-cell *matCellDef="let element; let i=index" style="max-width: 70px;"> {{ (paginator.pageIndex * paginator.pageSize) + (i+1)}} </mat-cell>
            </ng-container>

            <!-- IBU Column -->
            <ng-container matColumnDef="ibu">
                <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 70px;"> ibu </mat-header-cell>
                <mat-cell *matCellDef="let element; let i=index" style="max-width: 70px;"> {{element.ibu }} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>

            <!-- address Column -->
            <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header> address </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
            </ng-container>

            <!-- category Column -->
            <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> category </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.category}} </mat-cell>
            </ng-container>

            <!-- state Column -->
            <ng-container matColumnDef="state">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> state </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
            </ng-container>

            <!-- website Column -->
            <ng-container matColumnDef="website">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> website </mat-header-cell>
                    <mat-cell *matCellDef="let element"> 
                        <div class="link">
                            {{element.website}} 
                        </div>
                    </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" [cdkDetailRow]="row" [cdkDetailRowTpl]="tpl">
            </mat-row>
        </mat-table>
            <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
        </div>

        <ng-template #tpl let-element>
            <div class="mat-row detail-row " [@detailExpand]>
                <div class="diagram">
                    <mat-icon class="icon" color="primary">location_on</mat-icon>
                    <h3 class="element"> {{element.country}} </h3> 
                    <h4 class="element"> {{element.state}} </h4> 
                    <h4 class="element"> {{element.city}} </h4>
                    <h4 class="element"> {{element.address}} </h4>
                    <h4 class="element"> {{element.coordinates}} </h4>
                </div>
                
                <div class="description">
                    <h3 class="specification-titulo">
                        Alcohol by Volume "ABV"/ International Bitterness Units "IBU"
                    </h3>
                    <div *ngIf="element.ibu || element.abv; else simDetail">
                        ABV: {{element.abv}}/ IBU: {{element.ibu}}
                    </div>
                    <ng-template #simDetail>
                        We regret not having a specification
                    </ng-template>

                    <h2 class="description-titulo">
                        Description
                    </h2>
                    <div *ngIf="element.description; else simDetail">
                        {{element.description}}
                    </div>
                    <ng-template #simDetail>
                        We regret not having a detail
                    </ng-template>
                    <div style="margin-top: 5px;">
                        <a mat-flat-button color="primary" [href]="element.website" target="_blank"
                                           style="padding: 5px 15px; font-size: 14px">
                            Go to Website <mat-icon>arrow_forward</mat-icon>
                        </a>
                        
                    </div>
                    
                </div>
            </div>
        </ng-template>  
    </div>
     
</div>